table {
    overflow-x: scroll;
    overflow-y: scroll;
}
th,
td {
    min-width: 200px;
}
table,
th,
td,
tr {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 4px;
}

::-webkit-scrollbar-corner {
    background-color: #0000;
}
