* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    box-sizing: border-box;
}

.flex-div {
    display: flex;
    align-items: center;
    padding: 1rem;
}
